---
# {{ ansible_managed }}
cluster.name: {{ elasticsearch_cluster_name }}
discovery.zen.ping.unicast.hosts: [ {% for host in elasticsearch_discovery_zen_ping_unicast_hosts %}"{{ host }}"{% if not loop.last %},{% endif %}{% endfor %} ]
network.host: {{ elasticsearch_network_host }}
node.data: {{ elasticsearch_node_data | lower }}
node.master: {{ elasticsearch_node_master | lower }}
node.name: {{ elasticsearch_node_name }}
node.max_local_storage_nodes: {{ elasticsearch_node_max_local_storage_nodes }}
{% if elasticsearch_path_data is defined %}
path.data: {{ elasticsearch_path_data }}
{% endif %}
