---
# {{ ansible_managed }}
cluster.name: {{ elasticsearch_cluster_name }}
network.host: {{ elasticsearch_network_host }}
node.name: {{ elasticsearch_node_name }}
{% if elasticsearch_path_data is defined %}
path.data: {{ elasticsearch_path_data }}
{% endif %}
